doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= subject

  body
    h1 Welcome to Our Community!

    p Hi #{firstName},

    p Url #{url}

    p We hope you enjoy your time here.

    p Best regards,<br />
    The Team